/*Login Form*/

.login_form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(image/signupg_bg.png);
    background-size: cover;
    background-position: center;
}

.login_form .left img{
    width: 650px;
}

.login_form .right{
    position: relative;
    top: -50px;
    left: -60px;
    padding: 50px 80px;
}

.login_form .right h1{
    font-family: prevattscriptssk;
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

.login_form .right .label{
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.label .error{
    color: red;
    font-style: italic;
}

.box{
    border: 2px solid #ffa500;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
}

.icon{
    position: relative;
    top: 9px;
    left: 15px;
    color: #887205;
}

.text-input{
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}

::-webkit-input-placeholder{
    color: black;
    opacity: 0.7;
}

.login_form .right .register{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
   color: rgb(83, 82, 82);
}

.login_form .right .register a {
    color: rgb(83, 82, 82);
    padding-left: 5px;
}

.login_form .right .register a:hover{
    color: black;
    text-decoration: underline;
}

.login_form .right .remember-me{
    margin-top: 10px;
}

.login_form .right button{
    width: 350px;
    margin: 10px 0;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #ffd400,#ffa500);
}
.login_form .right .seperate {
    margin: 20px 0;
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_form .right .seperate .line{
    flex-grow: 1;
    height: 1px;
    width: 145px;
    background-color: black;
}

.login_form .right .differ-login{
    display: flex;
    justify-content: space-between;
}
.login_form .right .differ-btn{
    display: block;
    color: black;
    text-align: center;
    border: 2px solid #ffa500;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.login_form .right .differ-btn img{
    width: 25px;
    margin-right: 10px;
}

